name: CI-CD Pipeline
 
on:
  push:
    branches:
      - GROUP-J
 
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: GROUP J

 
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
 
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
 
    - name: Build Docker image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/dec-mini-project:latest .
 
    - name: Push Docker image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/dec-mini-project:latest
 
    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/dec-mini-project:latest
          docker stop studybud || true
          docker rm studybud || true
          docker run -d -p 8082:8000 --name studybud ${{ secrets.DOCKER_USERNAME }}/dec-mini-project:latest
